<div carousel slides="slides" option="option"></div>

<div class="m-list">
  <div class="item" ng-repeat="item in list">
    <div class="user-info">
      <div class="avatar"><img width="68" height="68" ng-src="{{::item.avatar}}"></div>
      <div class="name">
        <div>{{::item.username}}</div>
        <div class="time">{{::item.time}}</div>
      </div>
      <div class="reply-count"><i></i>{{::item.reply}}</div>  
    </div>
    <div>
      <div class="title">
        <i class="top"></i><i class="help"></i><span class="ellipsis">{{::item.title}}</span>
      </div>
      <div class="body">
        {{::item.body}}
      </div>
    </div>
  </div>
  <div class="more" ng-click="more()">加载更多</div>
</div>

